Repository livechat/chat-widget-adapters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "packages/**/*.{js,ts,tsx}": "eslint --fix",
  "packages/**/*.{css,md,json}": "prettier --write"
}

react-adapter
  .eslintignore
  .eslintrc
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierignore
  packages/widget-angular/src/LiveChatWidget.component.ts
  packages/widget-core/src/assign-configuration.ts
  packages/widget-core/src/assign-customere-data.ts
  packages/widget-core/src/assign-event-handlers.ts
  packages/widget-core/src/assign-visibility.ts
  packages/widget-core/src/create-js-api.ts
  packages/widget-core/src/create-widget.ts
  packages/widget-core/src/get-data.ts
  packages/widget-core/src/index.ts
  packages/widget-core/src/types.ts
  packages/widget-react/example/index.html
  packages/widget-react/example/src/App.tsx
  packages/widget-react/example/src/main.tsx
  packages/widget-react/example/tsconfig.json
  packages/widget-react/src/LiveChatWidget.tsx
  packages/widget-react/src/hooks.ts
  packages/widget-react/src/index.ts
  packages/widget-vue/src/LiveChatWidget.ts
Due: eslint --fix, prettier --write

set __lc.integration_name for each package
  .github/workflows/check.yml
  .gitignore
  .lintstagedrc
  .nvmrc
  package-lock.json
  package.json
  packages/widget-angular/package-lock.json
  packages/widget-angular/package.json
  packages/widget-angular/rollup.config.js
  packages/widget-angular/src/LiveChatWidget.component.ts
  packages/widget-core/package-lock.json
  packages/widget-core/package.json
  packages/widget-core/rollup.config.js
  packages/widget-core/src/create-widget.ts
  packages/widget-core/src/types.ts
  packages/widget-react/example/src/App.tsx
  packages/widget-react/package-lock.json
  packages/widget-react/package.json
  packages/widget-react/rollup.config.js
  packages/widget-react/src/LiveChatWidget.tsx
  packages/widget-vue/package-lock.json
  packages/widget-vue/package.json
  packages/widget-vue/rollup.config.js
  packages/widget-vue/src/LiveChatWidget.ts
Due: eslint --fix, prettier --write

format *.json files
  packages/widget-angular/example/package-lock.json
  packages/widget-angular/example/package.json
  packages/widget-angular/example/tsconfig.app.json
  packages/widget-angular/example/tsconfig.json
  packages/widget-react/example/package-lock.json
  packages/widget-react/example/package.json
  packages/widget-vue/example/package-lock.json
  packages/widget-vue/example/package.json
  packages/widget-vue/example/tsconfig.json
Due: prettier --write

clean script and formatting package.json
  package.json
Due: none

vue adapter
  .eslintignore
  packages/widget-angular/rollup.config.js
  packages/widget-core/rollup.config.js
  packages/widget-core/src/create-widget.ts
  packages/widget-react/rollup.config.js
  packages/widget-vue/example/index.html
  packages/widget-vue/example/src/App.vue
  packages/widget-vue/rollup.config.js
  packages/widget-vue/src/LiveChatWidget.ts
  packages/widget-vue/src/composition.ts
  packages/widget-vue/src/index.ts
Due: eslint --fix

remove empty template and rename method
  packages/widget-vue/example/src/App.vue
  packages/widget-vue/src/LiveChatWidget.ts
Due: eslint --fix

CW-2743: Vue adapter (#2)
  .eslintignore
  package.json
  packages/widget-angular/example/package-lock.json
  packages/widget-angular/example/package.json
  packages/widget-angular/example/tsconfig.app.json
  packages/widget-angular/example/tsconfig.json
  packages/widget-angular/rollup.config.js
  packages/widget-core/rollup.config.js
  packages/widget-core/src/create-widget.ts
  packages/widget-react/example/package-lock.json
  packages/widget-react/example/package.json
  packages/widget-react/rollup.config.js
  packages/widget-vue/example/index.html
  packages/widget-vue/example/package-lock.json
  packages/widget-vue/example/package.json
  packages/widget-vue/example/src/App.vue
  packages/widget-vue/example/tsconfig.json
  packages/widget-vue/rollup.config.js
  packages/widget-vue/src/LiveChatWidget.ts
  packages/widget-vue/src/composition.ts
  packages/widget-vue/src/index.ts
Due: eslint --fix, prettier --write

angular adapter
  .gitignore
  packages/widget-angular/example/package-lock.json
  packages/widget-angular/example/package.json
  packages/widget-angular/example/src/app/app.component.html
  packages/widget-angular/example/src/app/app.component.ts
  packages/widget-angular/example/src/index.html
  packages/widget-angular/example/tsconfig.json
  packages/widget-angular/package-lock.json
  packages/widget-angular/package.json
  packages/widget-angular/rollup.config.js
  packages/widget-angular/src/LiveChatWidget.component.ts
  packages/widget-angular/src/LiveChatWidget.module.ts
  packages/widget-angular/src/WidgetChatData.service.ts
  packages/widget-angular/src/WidgetCustomerData.service.ts
  packages/widget-angular/src/WidgetGreeting.service.ts
  packages/widget-angular/src/WidgetIsReady.service.ts
  packages/widget-angular/src/WidgetState.service.ts
  packages/widget-angular/src/index.ts
  packages/widget-core/package-lock.json
  packages/widget-core/package.json
  packages/widget-core/src/create-widget.ts
  packages/widget-core/src/get-data.ts
  packages/widget-core/src/index.ts
  packages/widget-core/src/lifecycle.ts
  packages/widget-core/src/types.ts
  packages/widget-vue/example/src/App.vue
Due: eslint --fix, prettier --write

Update packages/widget-angular/example/src/app/app.component.html
  packages/widget-angular/example/src/app/app.component.html
Due: none

CW-2742: Angular adapter (#3)
  .gitignore
  packages/widget-angular/example/package-lock.json
  packages/widget-angular/example/package.json
  packages/widget-angular/example/src/app/app.component.html
  packages/widget-angular/example/src/app/app.component.ts
  packages/widget-angular/example/src/index.html
  packages/widget-angular/example/tsconfig.json
  packages/widget-angular/package-lock.json
  packages/widget-angular/package.json
  packages/widget-angular/rollup.config.js
  packages/widget-angular/src/LiveChatWidget.component.ts
  packages/widget-angular/src/LiveChatWidget.module.ts
  packages/widget-angular/src/WidgetChatData.service.ts
  packages/widget-angular/src/WidgetCustomerData.service.ts
  packages/widget-angular/src/WidgetGreeting.service.ts
  packages/widget-angular/src/WidgetIsReady.service.ts
  packages/widget-angular/src/WidgetState.service.ts
  packages/widget-angular/src/index.ts
  packages/widget-core/package-lock.json
  packages/widget-core/package.json
  packages/widget-core/src/create-widget.ts
  packages/widget-core/src/get-data.ts
  packages/widget-core/src/index.ts
  packages/widget-core/src/lifecycle.ts
  packages/widget-core/src/types.ts
  packages/widget-vue/example/src/App.vue
Due: eslint --fix, prettier --write

tests
  .gitignore
  packages/widget-core/.eslintrc
  packages/widget-core/jest.config.ts
  packages/widget-core/jest.setup.ts
  packages/widget-core/package-lock.json
  packages/widget-core/package.json
  packages/widget-core/src/__tests__/.eslintrc
  packages/widget-core/src/__tests__/assign-configuration.spec.ts
  packages/widget-core/src/__tests__/assign-customer-data.spec.ts
  packages/widget-core/src/__tests__/assign-event-handlers.spec.ts
  packages/widget-core/src/__tests__/assign-visibility.spec.ts
  packages/widget-core/src/__tests__/create-js-api.spec.ts
  packages/widget-core/src/__tests__/get-data.spec.ts
  packages/widget-core/src/__tests__/lifecycle.spec.ts
  packages/widget-core/tsconfig.json
Due: eslint --fix, prettier --write

adjust tsconfig
  packages/widget-core/tsconfig.json
Due: prettier --write

adjust widget-vue package
  packages/widget-vue/example/src/App.vue
  packages/widget-vue/src/composition.ts
Due: eslint --fix

add test step to check gh action
  .github/workflows/check.yml
Due: none

setup jest
  package.json
  packages/widget-core/.eslintrc
  packages/widget-core/jest.setup.js
  packages/widget-core/package-lock.json
  packages/widget-core/package.json
  packages/widget-core/src/__tests__/assign-configuration.spec.ts
  packages/widget-core/tsconfig.json
Due: eslint --fix, prettier --write

adjust widget-react package
  packages/widget-react/example/index.html
  packages/widget-react/example/src/App.tsx
  packages/widget-react/src/hooks.ts
  packages/widget-vue/example/index.html
Due: eslint --fix

create-widget tests
  packages/widget-core/jest.setup.ts
  packages/widget-core/package-lock.json
  packages/widget-core/package.json
  packages/widget-core/src/__tests__/assign-configuration.spec.ts
  packages/widget-core/src/__tests__/create-widget.spec.ts
  packages/widget-core/src/create-js-api.ts
Due: eslint --fix, prettier --write

Update packages/widget-core/src/__tests__/assign-configuration.spec.ts
  packages/widget-core/src/__tests__/assign-configuration.spec.ts
Due: eslint --fix

Update packages/widget-core/src/__tests__/get-data.spec.ts
  packages/widget-core/src/__tests__/get-data.spec.ts
Due: eslint --fix

@livechat/widget-core tests (#5)
  .github/workflows/check.yml
  .gitignore
  package.json
  packages/widget-core/jest.config.ts
  packages/widget-core/package-lock.json
  packages/widget-core/package.json
  packages/widget-core/src/__tests__/.eslintrc
  packages/widget-core/src/__tests__/assign-configuration.spec.ts
  packages/widget-core/src/__tests__/assign-customer-data.spec.ts
  packages/widget-core/src/__tests__/assign-event-handlers.spec.ts
  packages/widget-core/src/__tests__/assign-visibility.spec.ts
  packages/widget-core/src/__tests__/create-js-api.spec.ts
  packages/widget-core/src/__tests__/create-widget.spec.ts
  packages/widget-core/src/__tests__/get-data.spec.ts
  packages/widget-core/src/__tests__/lifecycle.spec.ts
  packages/widget-core/src/create-js-api.ts
  packages/widget-core/tsconfig.json
  packages/widget-react/example/index.html
  packages/widget-react/example/src/App.tsx
  packages/widget-react/src/hooks.ts
  packages/widget-vue/example/index.html
  packages/widget-vue/example/src/App.vue
  packages/widget-vue/src/composition.ts
Due: eslint --fix, prettier --write

core, react, vue umd build
  packages/widget-core/package.json
  packages/widget-core/rollup.config.js
  packages/widget-react/example/umd.html
  packages/widget-react/package.json
  packages/widget-react/rollup.config.js
  packages/widget-vue/example/umd.html
  packages/widget-vue/package.json
  packages/widget-vue/rollup.config.js
Due: eslint --fix, prettier --write

core, react, vue umd build (#6)
  packages/widget-core/package.json
  packages/widget-core/rollup.config.js
  packages/widget-react/example/umd.html
  packages/widget-react/package.json
  packages/widget-react/rollup.config.js
  packages/widget-vue/example/umd.html
  packages/widget-vue/package.json
  packages/widget-vue/rollup.config.js
Due: eslint --fix, prettier --write

publish config and gh acion
  .github/workflows/check.yml
  .github/workflows/publish.yml
  package-lock.json
  package.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

move examples to dedicated directory
  examples/angular/.browserslistrc
  examples/angular/.gitignore
  examples/angular/angular.json
  examples/angular/package-lock.json
  examples/angular/package.json
  examples/angular/src/app/app.component.html
  examples/angular/src/app/app.component.ts
  examples/angular/src/app/app.module.ts
  examples/angular/src/assets/.gitkeep
  examples/angular/src/environments/environment.prod.ts
  examples/angular/src/environments/environment.ts
  examples/angular/src/index.html
  examples/angular/src/main.ts
  examples/angular/src/polyfills.ts
  examples/angular/src/styles.css
  examples/angular/tsconfig.app.json
  examples/angular/tsconfig.json
  examples/react/.gitignore
  examples/react/index.html
  examples/react/package-lock.json
  examples/react/package.json
  examples/react/src/App.tsx
  examples/react/src/main.tsx
  examples/react/src/vite-env.d.ts
  examples/react/tsconfig.json
  examples/react/umd.html
  examples/react/vite.config.ts
  examples/vue/.gitignore
  examples/vue/index.html
  examples/vue/package-lock.json
  examples/vue/package.json
  examples/vue/public/favicon.ico
  examples/vue/src/App.vue
  examples/vue/src/env.d.ts
  examples/vue/src/main.ts
  examples/vue/tsconfig.json
  examples/vue/umd.html
  examples/vue/vite.config.ts
  lerna.json
  tsconfig.json
Due: none

update package lock
  examples/angular/package-lock.json
  examples/react/package-lock.json
  examples/vue/package-lock.json
Due: none

set github package registry
  .npmrc
  lerna.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

add base README.md for packages
  packages/widget-angular/README.md
  packages/widget-core/README.md
  packages/widget-react/README.md
  packages/widget-vue/README.md
Due: prettier --write

update package.json in packages
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  package.json
  packages/widget-angular/package-lock.json
  packages/widget-angular/package.json
  packages/widget-core/package-lock.json
  packages/widget-react/package-lock.json
  packages/widget-react/package.json
  packages/widget-vue/package-lock.json
  packages/widget-vue/package.json
Due: prettier --write

lerna:publish npm script
  .github/workflows/check.yml
  .github/workflows/publish.yml
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  package.json
Due: none

v1.0.0-alpha.0
  examples/angular/package-lock.json
  examples/angular/package.json
  examples/react/package-lock.json
  examples/react/package.json
  examples/vue/package-lock.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package-lock.json
  packages/widget-angular/package.json
  packages/widget-core/package-lock.json
  packages/widget-core/package.json
  packages/widget-react/package-lock.json
  packages/widget-react/package.json
  packages/widget-vue/package-lock.json
  packages/widget-vue/package.json
Due: prettier --write

export types and update main README
  LICENSE.md
  README.md
  examples/angular/src/app/app.component.ts
  package.json
  packages/widget-angular/src/WidgetGreeting.service.ts
  packages/widget-angular/src/index.ts
  packages/widget-core/src/types.ts
  packages/widget-react/src/hooks.ts
  packages/widget-react/src/index.ts
  packages/widget-vue/src/composition.ts
  packages/widget-vue/src/index.ts
Due: eslint --fix

export types and update main README (#8)
  LICENSE.md
  README.md
  examples/angular/src/app/app.component.ts
  package.json
  packages/widget-angular/src/WidgetGreeting.service.ts
  packages/widget-angular/src/index.ts
  packages/widget-core/src/types.ts
  packages/widget-react/src/hooks.ts
  packages/widget-react/src/index.ts
  packages/widget-vue/src/composition.ts
  packages/widget-vue/src/index.ts
Due: eslint --fix

local dev setup and build optim
  .eslintignore
  .gitignore
  lerna.json
  package-lock.json
  package.json
  packages/widget-angular/package.json
  packages/widget-angular/rollup.config.js
  packages/widget-angular/src/WidgetCustomerData.service.ts
  packages/widget-angular/src/WidgetGreeting.service.ts
  packages/widget-angular/src/WidgetIsReady.service.ts
  packages/widget-angular/src/WidgetState.service.ts
  packages/widget-angular/tsconfig.json
  packages/widget-core/package.json
  packages/widget-core/rollup.config.js
  packages/widget-core/src/assign-event-handlers.ts
  packages/widget-core/tsconfig.json
  packages/widget-react/package.json
  packages/widget-react/rollup.config.js
  packages/widget-react/src/hooks.ts
  packages/widget-react/tsconfig.json
  packages/widget-vue/package.json
  packages/widget-vue/rollup.config.js
  packages/widget-vue/src/composition.ts
  packages/widget-vue/tsconfig.json
  scripts/bootstrap.js
  scripts/build.js
  scripts/cmd.js
  scripts/publish.js
  scripts/watch.js
Due: eslint --fix, prettier --write

update tests and main README
  README.md
  packages/widget-core/src/__tests__/assign-event-handlers.spec.ts
Due: eslint --fix

hoist common dev dependecie
  package-lock.json
  package.json
  packages/widget-angular/package-lock.json
  packages/widget-angular/package.json
  packages/widget-core/package-lock.json
  packages/widget-core/package.json
  packages/widget-react/package-lock.json
  packages/widget-react/package.json
  packages/widget-vue/package-lock.json
  packages/widget-vue/package.json
Due: prettier --write

allow to watch different targets
  README.md
  examples/angular/package-lock.json
  examples/react/package-lock.json
  examples/vue/package-lock.json
  package.json
  packages/widget-core/jest.config.js
  packages/widget-core/jest.config.ts
  packages/widget-core/package-lock.json
  packages/widget-core/package.json
  scripts/bootstrap.js
  scripts/build.js
  scripts/cmd.js
  scripts/watch.js
Due: eslint --fix, prettier --write

CW-2808: Local dev setup and build optimisations (#9)
  .eslintignore
  .gitignore
  README.md
  examples/angular/package-lock.json
  examples/react/package-lock.json
  examples/vue/package-lock.json
  lerna.json
  package-lock.json
  package.json
  packages/widget-angular/package-lock.json
  packages/widget-angular/package.json
  packages/widget-angular/rollup.config.js
  packages/widget-angular/src/WidgetCustomerData.service.ts
  packages/widget-angular/src/WidgetGreeting.service.ts
  packages/widget-angular/src/WidgetIsReady.service.ts
  packages/widget-angular/src/WidgetState.service.ts
  packages/widget-angular/tsconfig.json
  packages/widget-core/jest.config.js
  packages/widget-core/jest.config.ts
  packages/widget-core/package-lock.json
  packages/widget-core/package.json
  packages/widget-core/rollup.config.js
  packages/widget-core/src/__tests__/assign-event-handlers.spec.ts
  packages/widget-core/src/assign-event-handlers.ts
  packages/widget-core/tsconfig.json
  packages/widget-react/package-lock.json
  packages/widget-react/package.json
  packages/widget-react/rollup.config.js
  packages/widget-react/src/hooks.ts
  packages/widget-react/tsconfig.json
  packages/widget-vue/package-lock.json
  packages/widget-vue/package.json
  packages/widget-vue/rollup.config.js
  packages/widget-vue/src/composition.ts
  packages/widget-vue/tsconfig.json
  scripts/bootstrap.js
  scripts/build.js
  scripts/cmd.js
  scripts/publish.js
  scripts/watch.js
Due: eslint --fix, prettier --write

update npm script in gh publish action
  .github/workflows/publish.yml
Due: none
